@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2fc6f6;
  --theme-color-main: #999;

  --logo-size: 52px;
  --header-height: 70px;
  --mobile-menu-bg: #f2f2f2;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: #3c3d41;
  font-family: "Proxima Nova Rg";
  font-size: 13px;
  background: #f9f9f9;
}

@font-face {
  font-family: "museo";
  src: url("/fonts/exljbris-MuseoCyrl900.woff");
}

@font-face {
  font-family: "museo500";
  src: url("/fonts/exljbris-MuseoCyrl500.woff");
}

@font-face {
  font-family: "Proxima Nova Rg";
  src: url("/fonts/ProximaNova-Regular.woff2");
}

@font-face {
  font-family: "Proxima Nova Lt";
  src: url("/fonts/ProximaNova-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}