@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2fc6f6;
  --theme-color-main: #999;

  --header-height: 70px;
  --mobile-menu-bg: #f2f2f2;
  --font-primary: "museo";
  --font-secondary: "museo500";

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: #3c3d41;
  font-family: "Proxima Nova Rg";
  font-size: 13px;
  background: #f9f9f9;
}

@font-face {
  font-family: "museo";
  src: url("/fonts/exljbris-MuseoCyrl900.woff");
}

@font-face {
  font-family: "museo500";
  src: url("/fonts/exljbris-MuseoCyrl500.woff");
}

/* @font-face {
  font-family: "Proxima Nova Rg";
  src: url("/fonts/ProximaNova-Regular.woff2");
}

@font-face {
  font-family: "Proxima Nova Lt";
  src: url("/fonts/ProximaNova-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
} */

@font-face {
  font-family: 'museo700';
  src: url("/fonts/museo700.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'museo300';
  src: url("/fonts/museo300.otf");
  font-weight: 700;
  font-style: normal;
}

@layer components {
  .PhoneInput > input.PhoneInputInput {
    @apply border-[#bec1c5] border-b-[1px] text-[14px] leading-[20px] pb-[16px] text-black w-full placeholder:text-[#bec1c5] outline-none;
  }
  .PhoneInput.error > input.PhoneInputInput {
    @apply border-red-500;
  }
}